body {
    font-family: Sofia Pro, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #5D5F5F;
}

.d-flex {
    display: flex !important;
}

.justify-content-center {
    justify-content: center !important;
}

.pt-12 {
    padding-top: 12px !important;
}

.pb-16 {
    padding-bottom: 16px !important;
}

.form-label {
    margin-bottom: 12px !important;
}

.modal {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.3);
    visibility: hidden;
    opacity: 0;
    filter: alpha(opacity = 0);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.open {
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity = 1);
}