/* id = section_footer */
.pixfort_party_15{
    width: 100%;
    height: 80px;
    background: white;
}
.pixfort_party_15 .container{
}
.pixfort_party_15 .container .logo_footer{
    height: 80px;
    width: 20%;
    float: left;
}
.pixfort_party_15 .container .logo_footer .logo-img{
    height: 80px;
    padding-left: 30%;
}
.pixfort_party_15 .container .alpha{
    float: left;
    width: 60%;
    /* padding-top: 30px; */
    padding-top: 30px;
    height: 50px;
    text-align: center;
}
.pixfort_party_15 .container .alpha .pix_text{
    font-size: 18px;

}
.pixfort_party_15 .container .alpha .pix_text .rights_st{
    color: gray;
}
.pixfort_party_15 .container .alpha .pix_text .pixfort_st{
    color: #1c87e0;
}
.pixfort_party_15 .container .omega{
    float: right;
    width: 20%;
    height: 80px;
}
.pixfort_party_15 .container .omega .pix_builder_bg{
    float: right;
    clear: left;
}
.pixfort_party_15 .container .omega ul{
    list-style-type: none;

}
.pixfort_party_15 .container .omega ul li {
    float: right;
    clear: left;
    padding-top: 20px;
}
.pixfort_party_15 .container .omega ul .normal_gray {
    padding-right: 40px;

}
.pixfort_party_15 .container .omega ul li a {
    text-decoration: none;
    color: gray;
    font-size: 20px;
}
