.btn-show-popup {
    color: var(--primary-color);
    font-weight: bold;
    cursor: pointer;
    user-select: none;
}

.box-popup-voucher {
    position: fixed;
    z-index: 450;
    backdrop-filter: blur(2px);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s;
}
.popup-voucher {
    padding: 3rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    z-index: 500;
    width: 70rem;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: all 0.2s ease-in-out;
    opacity: 0;
    visibility: hidden;
}

.show-popup-voucher {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
}

.popup-title {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.box-input-voucher {
    background-color: #f8f8f8;
    border-radius: 6px;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-input-voucher > label {
    font-size: 1.6rem;
    font-weight: 400;
    margin-right: 2rem;
}

.voucher-input {
    margin-right: auto;
    padding: 1rem 1.5rem;
    border: 1px solid var(--text-grey);
    border-radius: 4px;
    outline: none;
    flex: 1;
    transition: all 0.2s;
}

.voucher-input:focus {
    border: 1px solid #4d4d4d;
}

.voucher-input::placeholder {
    color: var(--text-grey);
}

.btn-comfirm-voucher {
    width: 20%;
    margin-left: 2rem;
    align-self: stretch;
    border: none;
    border-radius: 4px;
    background-color: var(--primary-color);
    text-transform: uppercase;
    color: var(--text-white);
    font-size: 1.4rem;
    font-weight: 500;
    transition: all 0.2s ease;
}

.btn-comfirm-voucher:hover {
    background: var(--fourth-color-hover);
}

.btn-disabled {
    color: var(--text-white);
    background-color: #d4d4d4;
}

.btn-disabled:hover {
    background-color: #d4d4d4;
    cursor: not-allowed;
}

/* box list voucher */
.box-list-voucher {
    width: 100%;
    margin: 2rem 0;
    max-height: 35rem;
    overflow-y: auto;
}

.box-list-voucher::-webkit-scrollbar {
    width: 4px;
}

.box-list-voucher::-webkit-scrollbar-thumb {
    background-color: #dddddd;
    border-radius: 25px;
}

.voucher-item {
    display: flex;
    height: 10rem;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.08);
}

.voucher-item:not(:last-child) {
    margin-bottom: 1.5rem;
}

.voucher-title {
    flex: 0 0 25%;
    background-image: linear-gradient(to right, transparent 5%, var(--primary-color) 5%);
    display: flex;
    justify-content: flex-start;
    position: relative;
}

.voucher-tag {
    background: radial-gradient(ellipse at center, #fff 0%, #fff 30%, transparent 30%),
        var(--primary-color);
    background-size: 2rem 2rem;
    background-repeat: repeat-y;
    background-position: -1rem 0;
    width: 1rem;
    height: 100%;
    backface-visibility: hidden;
}

.voucher-tag::after {
    content: attr(data-tag);
    position: absolute;
    top: -2px;
    left: -1px;
    padding: 0 0.5rem;
    background-color: var(--secondary-color);
    color: #fff;
    border-radius: 4px;
}

.voucher-title > span {
    flex: 1;
    font-size: 1.7rem;
    font-weight: 500;
    color: var(--text-white);
    text-align: center;
    text-transform: uppercase;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.voucher-description {
    flex: 1;
    font-size: 1.4rem;
    font-weight: 400;
    padding: 1rem 2rem;
    border: 1px solid var(--primary-color);
    border-radius: 0 6px 6px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.voucher-description__title {
    color: var(--text-black);
}

.voucher-description__item {
    color: var(--primary-color);
    font-size: 1.2rem;
}

.description-border {
    padding: 0 0.5rem;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
}

/* box btn bottom (cancel, comfirm) */
.box-voucher-bottom {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.box-voucher-bottom .btn-cancel {
    border: none;
    border-radius: 4px;
    text-transform: uppercase;
    padding: 1rem 1.5rem;
    font-size: 1.4rem;
    font-weight: 500;
    transition: all 0.2s ease;
}

.box-voucher-bottom .btn-cancel:hover {
    background-color: #e4e4e4;
}
