:root {
    --login-width: 930px;
    --login-height: 700px;
}

.modal-content {
    position: relative;
    width: var(--login-width);
    height: var(--login-height);
    margin: 0 auto;
    top: 10%;
    background: rgba(255, 255, 255, 1);
    border-radius: 20px;
}

.modal-content .left {
    float: left;
    width: 450px;
    height: var(--login-height);
    background-image: url('../images/login.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px 0 0 20px;
}

.modal-content .right {
    float: right;
    padding: 10px 20px;
    width: calc(var(--login-width) - 450px);
    height: var(--login-height);
}

.modal-content .right img {
    width: 100px;
    height: 60px;
}

/* Close button */
.modal-content .right .close {
    color: #AAAAAA;
    float: right;
    font-size: 28px;
    font-weight: lighter;
}

.modal-content .right .close:hover,
.modal-content .right .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#signup-facebook, #signup-google {
    height: 35px;
    border-radius: 40px;
    cursor: pointer;
    transition: width 0.5s;
}

#signup-facebook {
    width: 395px;
    background: #FFFFFF;
    box-shadow: 0 4px 20px rgba(97, 97, 103, 0.18);
}

#signup-facebook:hover {
    background: #009dff;
    color: #FFFFFF;
}

#signup-google {
    width: 35px;
    background: #F4F4F5;
}

#signup-google:hover {
    background: #e32525;
    color: #FFFFFF;
}

.modal-content .right .title {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    align-items: center;
    margin-top: 12px;
    margin-bottom: 24px;
}

.modal-content .right .form-group {
    margin-bottom: 20px;
}

.modal-content .right label {
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

.form-group input {
    width: 440px;
    height: 48px;
    border: 1px solid #B6B8B8;
    box-sizing: border-box;
    border-radius: 40px;
    padding: 0 24px;
}

.form-group input#password {
    margin-bottom: 10px;
}

.form-group input::placeholder {
    position: absolute;
    height: 20px;
    left: 24px;
    top: 14px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #B6B8B8;
}

.form-group #show {
    float: right;
    position: relative;
    margin-right: 16px;
    margin-top: -42px;
    z-index: 2;
    font-size: 14px;
}

.form-group #show:hover {
    cursor: pointer;
}

.form-group #submit {
    font-family: Sofia Pro, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    letter-spacing: 0.02em;
    background: #E9672B;
    border-radius: 40px;
    cursor: pointer;
}

.form-check-group {
    display: flex;
    height: 40px;
}

.form-check-group input {
    width: 18px;
    height: 18px;
}

.form-check-group span {
    font-weight: normal;
    font-size: 16px;
    padding-left: 10px;
    margin-top: -10px;
    line-height: 1.2em;
    letter-spacing: 0.02em;
}

.modal-content .right .signin {
    font-family: Sofia Pro, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #5D5F5F;
    margin-top: 24px;
}

.modal-content .right .signin a {
    color: #0d6efd;
}

.left:after, .right:after {
    clear: both;
}